body {
  /* font-family: 'Merriweather', 'Montserrat'; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* 'PT Serif', 'PT Sans' */
  font-weight: 25; /* what is this */
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 80%;
}
