body {
  /* font: 1rem/1.5 -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif; */
  /* font: 1rem/1.5 "Bricolage Grotesque",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem; */
  /* /* the above font is copied from the blog "maverick" 
  doesn't render in full black color on this theme.
  SEE IF THIS CAN BE FIXED */
  /* background: hsla(93, 0%, 96%, 1.00); */
  /* background: #fffdfa;
  color: #000; */
  max-width: 700px;
  margin: auto;
  padding: 2em; /* changed from 1em */
  line-height: 1.5;
  font-weight: 200;
  /* text-align: justify; */
}

/* make the mode toggle be flushed to the right */
.menu > li:last-child
{
    float:right;
}


/* header and footer areas */
.menu 
{ 
  padding: 0; 
}
.menu li { 
  display: inline-block; 
  font-family: sans-serif;
}
.article-meta, .menu a {
  text-decoration: none;
  background: #ddd;
  padding: 5px;
  border-radius: 5px;
}s

.terms { font-size: .9em; }
.article-meta, footer { text-align: center; }
.title { font-size: 1.1em; } /* changed from 1.1em */
footer a { text-decoration: none; }

a { color: #040000; /*  #273e31 */
    text-decoration: none;
  /* text-decoration: underline; */
}

.colored-link{
  color: #2d4c3a
}

.term-link
{
  color:#5a5959;
  text-decoration: underline;
  font-size: smaller;
}

.term-title
{
  color:#5a5959;
  font-size: smaller;
}


hr {
  border: none; /* dashed */
  color: #ddd;
  height: 1.5px;
  background-color: #ddd;
}

/* alternate hr */
/* border: 0; 
  border-bottom: 1.5px solid #ddd; 
  color: #ddd;
  height: 1.5px;
  background-color: transparent;
  opacity: .75; */

/* Is this needed?
.post-content p {
  text-align: justify;
} */

.display-quote{
  font-family: 'PT Serif', 'PT Sans';
  /* font-style: italic; */
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  /* margin: 1em 0; */
  padding: 1em;
  /* border-left: 5px solid #ccc; */
}

.custom-margin{
  margin: 3em;
}

.display-header{
  font-family: 'Georgia';
  /* font-style: italic; */
  color: #160a0a;
  font-size: 1.5em;
  /* margin: 0;
  /* margin: 1em 0; */
  /* padding: 0; */ */
  /* border-left: 5px solid #ccc; */
}

.display-header1{
  font-family: 'Georgia';
  /* font-style: italic; */
  color: #160a0a;
  font-size: 1.5em;
  margin-top: 1em;
  /* margin-left: 0; */
  /* margin: 1em 0; */
  /* padding: 0; */ */
  /* border-left: 5px solid #ccc; */
}

/* MAVERICK */
ul {
  list-style-type: square;
}

ul, ol {
  padding-left: 1.2rem;
}

.list {
  line-height: 2;
  list-style-type: none;
  padding-left: 0;
}

.list li {
  padding-bottom: .1rem
}

.list a {
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40ch; 
}

header a {
  text-decoration: none;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13ch; */
}

header ul {
  list-style-type: none;
  padding: 0;
}

header li, header a {
  display: inline;
}

header ul a:first-child {
  padding-left: 1rem;
}

.list li {
  display: flex;
  align-items: baseline;
}

.list li time {
  /* font-family: 'Georgia'; */
  /* font-style: italic; */
  opacity: .75;
  font-size: .8em;
  flex: 0 1 auto;
}

.hr-list {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .5rem;
  margin-left: .5rem;
  /* height: 1px; */
  border: 0;
  border-bottom: 1px dashed #737171; 
  background-color: transparent;
  /* color: #ccc; */
  flex: 1 0 1rem;
  opacity: .75;
}

.hr-home {
  margin-top: 0;
  margin-bottom: 0;
  /* height: 1px; */
  border: 0;
  border-bottom: 1px solid #636262; 
  background-color: transparent;
  /* color: #ccc; */
  flex: 1 0 1rem;
  opacity: .75;
}
/* ..................... */

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

.poem{
  border: none;
  box-shadow: none;
  padding: 0;
  overflow-x: auto;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }



/* ..................................................
DARK MODE CSS BELOW */
body.dark-mode, 
body.dark-mode main * {
    background: rgb(45, 45, 45);
    color: #ece9e9;
    font-weight: 100;

    .colored-link{
      color: #a5baae
    }

    .term-link
    {
      color:#a19f9f;
      text-decoration: underline;
    }

    .term-title
    {
      color:#a19f9f;
    }

    .display-header{
      font-family: 'Georgia';
      /* font-style: italic; */
      color: #f5dfdf;
      /* font-weight: 60; */
      font-size: 1.5em;
      /* margin: 0;
      /* margin: 1em 0; */
      /* padding: 0; */ */
      /* border-left: 5px solid #ccc; */
    }

    .display-header1{
      font-family: 'Georgia';
      /* font-style: italic; */
      color: #f5dfdf;
      font-size: 1.5em;
      margin-top: 1em;
      /* margin-left: 0; */
      /* margin: 1em 0; */
      /* padding: 0; */ */
      /* border-left: 5px solid #ccc; */
    }

    hr {
      border: none; /* dashed */
      color: #595858;
      height: 1.5px;
      background-color: #595858;
    }

    .hr-list {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: .5rem;
      margin-left: .5rem;
      /* height: 1px; */
      border: 0;
      border-bottom: 1px dashed #7a7979; 
      background-color: transparent;
      /* color: #ccc; */
      flex: 1 0 1rem;
      opacity: .75;
    }

    a { color: hsl(0, 0%, 100%);
      /* text-decoration: underline; */
    }

    
    
    .article-meta, .menu a {
      text-decoration: none;
      background: #191b19ca;
      padding: 5px;
      border-radius: 5px;
    }

    pre {
      box-shadow: none;
      padding: 1em;
      overflow-x: auto;
    }

    .poem{
      border: none;
      box-shadow: none;
      padding: 0;
      overflow-x: auto;
    }


    blockquote {
      background: #3e3d3d;
      border-left: 5px solid #ccc;
      padding: 3px 1em 3px;
    }
}


/* Styles for small screens (max-width: 600px) */
@media (max-width: 500px) { 
    /* Example styles for small screens */
    body {
        font-size: 1em;
        font-weight: 400;
        } 
    .list a {
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 25ch; 
    }
}